# Bỏ qua thư viện thư viện nặng của React và Python
node_modules/
__pycache__/
*.pyc

# Bỏ qua môi trường ảo và dữ liệu database Docker cục bộ
venv/
env/
.env
db_data/
postgres_data/

# Bỏ qua các file cấu hình hệ điều hành
.DS_Store
Thumbs.db
backend/media/
*.sqlite3
